*{
    padding:0%;
    margin:0%;
}
body{
    background-image:linear-gradient(to top,#fd7d73, rgb(255, 255, 255)) , url(fond-dessine-main-taches-aquarelles-naturelles-feuilles_91008-86.jpg);
    
}
main{
   padding:2%; 
   background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 19%) , url(fond-dessine-main-taches-aquarelles-naturelles-feuilles_91008-86.jpg);    
   background-size: cover;
   background-repeat: no-repeat;   
   margin:auto; 
   height:80vh;  
}


#container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:50%;
    background-image: url("téléchargement-pastel-rose.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    border-radius: 15px;
    margin-bottom: 3%;
    padding:0 0 2% 0;
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
}
#tache{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
    background-color: rgb(254, 247, 207);
    margin:auto;
    border-radius: 15px;
    margin-bottom: 2%;
    height:6vh;
    padding:1% 0 1% 0;
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
}
#list_tache{
    width:100%;
    margin:auto;
}
h2{
    padding-top:5%;
    padding-bottom:5%;
    font-family:dancing script ;
    text-decoration: underline;
    text-underline-offset: 40%;
}
#inputModif{
    padding: 10px;
}

#input{
    border-radius: 15px;
    padding:10px;
    width:40%;
}
#additionner{
    margin-top:5%;
    width:10%;
    height:5vh;
    border-radius: 5px;   
    background-color: rgb(219, 243, 245);
    margin-bottom:1%;
    border-color: rgb(219, 243, 245)
}
#additionner:hover{
    background-color: rgb(168, 236, 230);
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
    border-color: rgb(168, 236, 230);
}
button{
    border-color: rgb(219, 243, 245);
    border-radius: 5px;
    padding:1%;
    background-color: rgb(219, 243, 245);

}
button:hover{
    background-color: rgb(168, 236, 230);
    border-color: rgb(168, 236, 230);
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
}
p{
    background-color: #ffffff;
    height:3vh;
    padding:1% ;
    border-radius: 5px;  
}

#inputModif{
    width:15%;
    background-color: #ffffff;
}
@media(max-width:1050px){
    #container1{
        width:80%;
    }
    #tache{
        width:80%;
    }
}
@media (max-width:600px){
    #container1{
        width:95%;
        margin-bottom:7%;
        margin-top:3%;
        padding-bottom:4%;        
    }
    button:hover{
        background-color: rgb(219, 243, 245);
        border-color: rgb(219, 243, 245);
        box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
    }
    #additionner:hover{
        background-color: rgb(219, 243, 245);
        border-color: rgb(219, 243, 245);
        box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
    }
    #input{
      width:55%;
    }
   h2{
    text-underline-offset: 25%;
   }
 
    #tache{       
        width:95%;
        margin-bottom:5%;
        padding-bottom:2%;
        padding-top:2%;
    }
    #additionner{
        width:17%;
        height:6vh;
        margin-top:4%;       
    }
}
@media (max-width:391px){
    h2{
        text-decoration: none;
       }

}
@media (max-width:361px){
    h2{
        text-decoration: none;
       }

}
@media (max-height:400px){
    #additionner{
        width:20%;
        height:12vh;
    }
    p{
        padding-bottom: 4%;
    }
}
